body{background-color:#0f056b;}


form{ align-content:center;
       border:60px solid #D90432 ;
       margin: 0 auto;
       height:170px;
       width:150px;
       padding:100px;
       border-radius:22px; 
       padding-color:#D90432;
      /* display: flex;*/
       /*flex-direction: column;*/

}


label{ color:yellow ;
	font-family:arial;
       font-size: 16px;
       text-align:center;

        }
        h1{
              color:white;
        }



     
